<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>







    <link href="{% static 'css/onsite.css' %}" rel="stylesheet" type="text/css" media="all" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
       $(document).ready(function() {
             // executes when HTML-Document is loaded and DOM is ready
             $("ul").hide();
             $("#pan2").hide();
            $("#pan3").hide();
            $("#pan10").hide();
            $("#panthongtin").hide();

        });

        $(document).ready(function(){
          $("#tiepnhan").click(function(){
            $("ul").show();
            $("#home").show();

            $("#googleMap").hide();

            $("button").hide();
          });
          $("#Chapnhan").click(function(){
            $("ul").show();
            $("#table1").hide();

          });
          $("#hoanthienhoso").click(function(){
            $("ul").hide();
            $("#pan2").show();
            $("#pan1").hide();

          });
          $("#mohosokham").click(function(){
            $("ul").hide();
            $("#pan3").show();
            $("#pan31").show();
            $("#pan2").hide();
            $("#pan1").hide();

          });
          $("#mothongtin").click(function(){

            $("#panthongtin").show();

          });
          $("#luuthongtin").click(function(){

            $("#pan1").show();
            $("#pan2").hide();

          });
        });
    </script>



     <script>
        function Map1()
        {
            var myCenter=15,105;
            var marker=new google.maps.Marker({
            position:myCenter,
            icon:'pinkball.png'
            });

            marker.setMap(map);
        }
    </script>
      <script src="http://maps.googleapis.com/maps/api/js?key=#{AIzaSyD5wAflNNOYGLM4FiA9HWXZvYcPiyGi2sw}&sensor=false">
        </script>
        <script>
          //Khoi tao Map


            function initialize()
            {
            var myCenter=new google.maps.LatLng(21,106);
            var mapProp = {
              center:myCenter,
              zoom:5,
              mapTypeId:google.maps.MapTypeId.ROADMAP
              };

            var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

            var marker=new google.maps.Marker({
              position: myCenter,
              //icon: "pinkball.png",
              //title: "Landmark 72 ^_^",
              //draggable: true,
              //animation:google.maps.Animation.BOUNCE,
              });

            marker.setMap(map);
            }

            google.maps.event.addDomListener(window, 'load', initialize);
    </script>


    <title>Document</title>


</head>
<body>

    <div id="mySidenav" class="sidenav">
      <h6> <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" font>&times; Doctorcity</a></h6>
      <hr class="style2">
      <a href="http://doctorcityvn.pythonanywhere.com/test/"><img src="{% static 'images/doctor.png' %}" class="img-fluid" alt="Responsive image" style="max-height:20px"> Home</a>
      <a href="http://doctorcityvn.pythonanywhere.com/about/"><img src="{% static 'images/about.jpg' %}" class="img-fluid" alt="Responsive image" style="max-height:20px"> About</a>
      <a href="#"><img src="{% static 'images/service.png' %}" class="img-fluid" alt="Responsive image" style="max-height:20px"> Services</a>
      <a href="http://doctorcityvn.pythonanywhere.com/all/BN1/#"><img src="{% static 'images/benhnhan.jpg' %}" class="img-fluid" alt="Responsive image" style="max-height:20px"> Lịch sử khám bệnh</a>
      <a href="http://doctorcityvn.pythonanywhere.com/staff/"><img src="{% static 'images/datacenter.png' %}" class="img-fluid" alt="Responsive image" style="max-height:20px"> Thanh toán</a>
      <a href="http://doctorcityvn.pythonanywhere.com/onsite/"><img src="{% static 'images/doctorathome.png' %}" class="img-fluid" alt="Responsive image" style="max-height:20px"> Thông báo từ trung tâm</a>

      <hr class="style2">
      <a href="#" class="btn btn-info btn-lg" onclick="document.getElementById('id01').style.display='block'">
          <span class="glyphicon glyphicon-log-in"></span> Log in
        </a>
     <hr class="style2">
      <a href="#" class="btn btn-info btn-lg">
          <span class="glyphicon glyphicon-log-out"></span> Log out
        </a>

    </div>


    <div class="container">



        <span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; </span>

        <div class="row">

                <div class="col-xs-4">
                        <button id="moback" class="block"><img src="{% static 'images/left.png' %}" style="max-height:28px;">Back</button>
                </div>
                <div class="col-xs-4">
                        <button id="moforward" class="block"><img src="{% static 'images/home.jpg' %}" style="max-height:28px">Home</button>
                </div>
                <div class="col-xs-4">
                        <button id="mohome" class="block"><img src="{% static 'images/right.png' %}" style="max-height:28px;">Forward</button>
                </div>
        </div>
        <div class="row">

                    <input type="text" class="form-control" id="thongtinhanhchinh" placeholder="Thông tin hành chính">
                    <input type="text" class="form-control" id="thongtinbaohiem" placeholder="Thông tin bảo hiểm ">
                    <textarea class="form-control" rows="3" id="thongtinbenhdamac" placeholder="Tiền sử bệnh đã mắc "></textarea>
                    <textarea class="form-control" rows="3" id="thongtinbenhsu" placeholder="Bệnh sử (diễn biến bệnh đã mắc) "></textarea>
        </div>




</body>
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> Doctorcity</a>
  </div>
  <!-- Copyright -->

</footer>
</html>
